In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("IMDB Dataset.csv")

In [7]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [8]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [9]:
df['senti_map'] = df['sentiment'].map({'positive': 0, 'negative': 1})

In [10]:
df.head()

                                              review sentiment  senti_map
0  One of the other reviewers has mentioned that ...  positive          0
1  A wonderful little production. <br /><br />The...  positive          0
2  I thought this was a wonderful way to spend ti...  positive          0
3  Basically there's a family where a little boy ...  negative          1
4  Petter Mattei's "Love in the Time of Money" is...  positive          0

In [11]:
X = df['review']
Y = df['senti_map']

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
from sklearn.metrics import accuracy_score

In [41]:
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X_tfidf = tfidf_vectorizer.fit_transform(X)

In [42]:
num_clusters = 2
kmeans = KMeans(n_clusters=num_clusters, random_state=42)

In [43]:
kmeans.fit(X_tfidf)

KMeans(n_clusters=2, random_state=42)

In [44]:
cluster_labels = kmeans.labels_

In [45]:
cluster_labels

array([1, 1, 1, ..., 1, 0, 0])

In [46]:
acc = accuracy_score(Y, cluster_labels)
acc

0.50596